language: r
sudo: false
cache: packages
os:
  - linux

scrpit:
  - Rscript R/makeDashboard.R

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GH_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  on:
    branch: master
